<section class="your-order">
  <div class="container order-container">
    <h2>
      <span class="order-span">Your order</span> is our priority: Personalized
      approach and quality of service
    </h2>
    <div class="order-form">
      <form class="order-form-form" name="user-name" autocomplete="off">
        <label class="label-name" for="user-name"></label>
        <input
          class="input-name"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Enter your full name"
          autocomplete="off"
          required
        />
     </div>
     <div class="order-form">
        <label class="label-mail" for="user-mail"></label>
        <input
          class="input-name"
          type="email"
          name="user-mail"
          id="user-mail"
          placeholder="Enter your email"
          autocomplete="off"
          required
        />
      </div>  
    
     
    <div class="order-form">
      <label class="label-comment" for="order-comment"></label>
      <textarea
        class="comment-form"
        name="order-comment"
        id="order-comment"
        placeholder="Comments"
        required
      ></textarea>
      <button type="submit" class="send">SEND</button>
    </div>
    </form>
    
  </div>
</section>
