footer .container {
  padding-top: 40px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  height: 637px;
}

@media screen and (min-width: 768px) {
  footer .container {
    height: 370px;
  }
}
@media screen and (min-width: 768px) {
  footer .container {
    height: 363px;
  }
}
.footer-list {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25px;
}

@media screen and (max-width: 767px) {
  .footer-item {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-list {
    padding-bottom: 117px;
  }
}
.footer-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  text-transform: uppercase;
  color: #fcf9f9;
}
.footer-item-link:hover,
.footer-item-link:focus {
  color: #ecd979;
  outline: none;
}
.footer-head-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: #fcf9f9;
}
.footer-head-text span {
  color: #ecd979;
}
@media screen and (min-width: 768px) {
  .footer-head-text {
    font-size: 54px;
    line-height: 1.18;
    width: 521px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-head-text {
    width: 754px;
  }
}
footer .container {
  background-image: url(/img/background/new-ornament-mob.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  footer .container {
    background-image: url(/img/background/new-ornament-mob@2x.png);
    background-size: 375px;
  }
}
@media screen and (min-width: 768px) {
  footer .container {
    background-image: url(/img/background/new-ornament-tab.png);
    background-position: bottom right;
    padding-bottom: 40px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    footer .container {
      background-image: url(/img/background/new-ornament-tab@2x.png);
      background-size: 174px;
    }
  }
}
@media screen and (min-width: 1280px) {
  footer .container {
    background-image: url(/img/background/new-ornament-desk.png);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    footer .container {
      background-image: url(/img/background/new-ornament-desk@2x.png);
      background-size: 336px;
    }
  }
}
